html,
body {
    font-size: 16px;
    margin: auto;
    height: 100%;
}

html {
    position: relative;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F9FAFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
}

/* navbar */
nav {
    overflow: hidden;
    font-size: 1.76rem;
    padding: 1rem;
    background-color: rgba(249, 250, 255, 0);
    transition: background-color 1s ease 0s;
}

#logo {
    overflow: hidden;
    height: 5%;
    width: 20%;

}

.nav-items {
    padding-right: 15rem;
}

.scrolled-nav-bar {
    background-color: rgba(249, 250, 255, 1);

}

.sign-in {
    margin-right: 1.5rem;
}

.sign-in,
.sign-up {
    border-color: transparent;
}

/* button */
.btn {
    position: relative;
    border-radius: 1.2rem;
    font-size: 1.6rem;
}

.btn-outline-primary {
    color: black !important;
    /* border-color: transparent; */
}

.btn-outline-primary:hover {
    background-color: #2E9AD3 !important;
    color: white !important;
}

.btn:active {
    top: 0.2rem;
}



#home {
    background-image: url('../img/hitsoft2-100.jpg');
    background-size: cover;
}

/* slider */
.carousel-item {
    height: 100vh;
    min-height: 35rem;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* body */
h1 {
    font-size: 3.2rem;
}

#about {
    padding-top: 6.5%;
    background-color: lightpink;
}

#contact {
    padding-top: 6.5%;
}

#projects {
    padding-top: 6.5%;

}

.line {
    background-image: linear-gradient(135deg, #E73D59 0%, #604AE6 100%);
    height: 0.2rem;
    width: 5rem;
    margin-bottom: 5rem;
    display: inline-block;
}

.about-col-border {
    border: 2px solid black;
}

.my-col {
    border: .2rem solid #FFFFFF;
    padding-top: 4%;
    background-color: #FFFFFF;

}

.box {
    background: #ffffff;
    border-radius: 6rem;
    padding: 6rem 3rem;
    transition: all .4s ease-in-out;


}

.box h2 {
    font-size: 2rem;
    color: #3b566e;
    font-weight: 600;
    margin: 2.5rem 0 1.5rem;
    padding: 0;
}

.box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #919aaf;
    line-height: 2.6rem;
}

.projects h2 {
    color: #3b566e;
}

#ai-img {
    width: 75%;
}

#blockchain-img {
    width: 75%;
}

#consulting-img {
    width: 77.5%;
    height: auto;
}

.anailetisim {
    background: #F9FAFF;
    border-top: 6px solid #F9FAFF;
    color: #496379;
}

.anailetisim h2 {
    font: 300 3rem 'Nunito Sans', sans-serif;
}

.anailetisim .iletisimform input {
    color: #795548;
    font: 300 1.6rem 'Nunito Sans', sans-serif;
    padding: 12px 18px;
    border-radius: 8px;
}

.anailetisim .iletisimform select {
    background: #fff url('../resimler/selectbg.png') right 4px center no-repeat;
    color: #496379;
    font: 300 1.6rem 'Nunito Sans', sans-serif;
    padding: 12px 18px;
    border-radius: 8px;
    -webkit-appearance: inherit;
}

.anailetisim .iletisimbilgi table td {
    vertical-align: top;
    color: #496379;
    font-weight: 300;
    padding: 0 12px 40px 12px;
}

.anailetisim h4 {
    margin-bottom: 4.5rem;
    font-size: 2.2rem;
}

.form-control {
    font-size: 1.6rem;
}

.btn-gonder {
    border-color: #496379;
    background-color: #629AC5;
}

footer {
    background-color: rgb(98, 154, 197);
    color: rgb(255, 255, 255);
    font-size: 1rem;

}

#logo-footer {
    height: 50%;
    width: 50%;
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (min-width: 1601px) {}

@media (min-width: 768px) {}